$c-primary: #8A4F7D; // This
$c-on-primary: #442C2E;
$c-secondary: #CECCCA; // This
$c-on-secondary: #442C2E;
$c-surface: #EBEBEB; // This
$c-on-surface: #442C2E;
$c-background: #0B0F0B; // This
$c-on-background: #442C2E;